.bg-primary {
  background-color: #53809e;
}

.bg-secondary {
  background-color: #799cb4;
}

.bg-border {
  background-color: #e7eef3;
}

.text-primary {
  color: #53809e;
}

.text-secondary {
  color: #799cb4;
}

.text-border {
  color: #e7eef3;
}

.theme-heritage-green {
  background-color: #009677;
  border-color: #00634f !important;
  border-width: 1px;
  border-style: solid;
}

.text-heritage-green {
  color: #009677 !important;
}

.theme-fresh-green {
  background-color: #50b848;
  border-color: #409439 !important;
  border-width: 1px;
  border-style: solid;
}

.text-fresh-green {
  color: #50b848 !important;
}

.theme-future-green {
  background-color: #8dc63f;
  border-color: #72a230 !important;
  border-width: 1px;
  border-style: solid;
}

.text-future-green {
  color: #8dc63f !important;
}

.theme-sky {
  background-color: #00c0e8;
  border-color: #0096b5 !important;
  border-width: 1px;
  border-style: solid;
}

.text-sky {
  color: #00c0e8 !important;
}

.theme-sun {
  background-color: #fff200;
  border-color: #ccc200 !important;
  border-width: 1px;
  border-style: solid;
}

.text-sun {
  color: #fff200 !important;
}

.theme-naartjie {
  background-color: #f37021;
  border-color: #d5580c !important;
  border-width: 1px;
  border-style: solid;
}

.text-naartjie {
  color: #f37021 !important;
}

.theme-cerise {
  background-color: #ed0080;
  border-color: #ba0064 !important;
  border-width: 1px;
  border-style: solid;
}

.text-cerise {
  color: #ed0080 !important;
}

.theme-brown {
  background-color: #cbcba9;
  border-color: #b8b889 !important;
  border-width: 1px;
  border-style: solid;
}

.text-brown {
  color: #cbcba9 !important;
}

.theme-dark {
  background-color: #131313;
  border-color: black !important;
  border-width: 1px;
  border-style: solid;
}

.text-dark {
  color: #131313 !important;
}

.border {
  border-width: 1px !important;
  border-radius: 5px !important;
  border-style: solid !important;
  border-color: #53809e !important;
}

.border-primary {
  border-color: #53809e;
}

.bg-brown {
  background-color: #cbcba9;
}

.text-brown {
  color: #cbcba9;
}

.border-brown {
  border-color: #cbcba9;
}

.bg-dark {
  background-color: #131313;
}

.text-dark {
  color: #131313;
}

.border-dark {
  border-color: #131313;
}

.bg-sky {
  background-color: #00c0e8;
}

.text-sky {
  color: #00c0e8;
}

.border-sky {
  border-color: #00c0e8;
}

.bg-sun {
  background-color: #fff200;
}

.text-sun {
  color: #fff200;
}

.border-sun {
  border-color: #fff200;
}

.bg-heritage-green {
  background-color: #009677;
}

.text-heritage-green {
  color: #009677;
}

.border-heritage-green {
  border-color: #009677;
}

.bg-future-green {
  background-color: #009677;
}

.text-future-green {
  color: #009677;
}

.border-future-green {
  border-color: #009677;
}

.bg-naartjie {
  background-color: #f37021;
}

.text-naartjie {
  color: #f37021;
}

.border-naartjie {
  border-color: #f37021;
}

.faded-text {
  color: #2c3643;
  color: rgba(44, 54, 67, 0.5);
}

.base-active-item {
  background-color: #53809e !important;
  color: white !important;
}

.header-text {
  color: #53809e !important;
  color: rgba(83, 128, 158, 0.8) !important;
}

.base-border {
  border: 1px solid #c9c9c9;
  border-radius: 5px;
}

.bg-om-heritage-green {
  background-color: #009677;
}

.bg-om-fresh-green {
  background-color: #50b848;
}

.bg-om-future-green {
  background-color: #8dc63f;
}

.bg-om-sky {
  background-color: #00c0e8;
}

.bg-om-sun {
  background-color: #00c0e8;
}

.bg-om-naartjie {
  background-color: #f37021;
}

.bg-om-cerise {
  background-color: #ed0080;
}

.text-om-heritage-green {
  color: #009677;
}

.text-om-fresh-green {
  color: #50b848;
}

.text-om-future-green {
  color: #8dc63f;
}

.text-om-sky {
  color: #00c0e8;
}

.text-om-sun {
  color: #fff200;
}

.text-om-naartjie {
  color: #f37021;
}

.text-om-cerise {
  color: #ed0080;
}

.border-om-heritage-green {
  border-color: #009677 !important;
}

.border-om-fresh-green {
  border-color: #50b848 !important;
}

.border-om-future-green {
  border-color: #8dc63f !important;
}

.border-om-sky {
  border-color: #00c0e8 !important;
}

.border-om-sun {
  border-color: #fff200 !important;
}

.border-om-naartjie {
  border-color: #f37021 !important;
}

.border-om-cerise {
  border-color: #ed0080 !important;
}

html {
  margin-left: calc(100vw - 100%);
  color: #2c3643;
  font-weight: 600;
}

body {
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Oxygen', Helvetica, sans-serif;
  font-weight: 300;
  color: #2c3643;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  color: #2c3643;
}

strong {
  font-weight: bold;
}

blockquote {
  padding-left: 1.5rem;
  border-left: 4px solid #e7eef3;
}

dl {
  display: block;
  float: right;
}

dl p {
  margin-bottom: 15px;
}

dl dt {
  width: 180px;
  min-width: 180px;
  max-width: 180px;
  font-weight: bold;
  display: inline-block;
  text-transform: uppercase;
  padding-right: 10px;
}

dl dd {
  display: inline;
  text-align: left;
}

button {
  background-color: transparent;
  border: 1px solid #53809e;
  border-radius: 5px;
  color: #53809e;
  font-weight: bold;
  padding: 10px;
}

button:hover, button:focus, button:active {
  border: 1px solid #53809e;
  background-color: #53809e;
  color: white;
}

fieldset {
  border: 1px solid #e7eef3;
  margin: 15px;
  padding: 15px;
}

fieldset legend {
  padding: 5px 10px;
  font-size: 1rem;
  font-weight: bold;
  width: auto;
}

fieldset label {
  width: 120px;
  min-width: 120px;
  max-width: 120px;
  font-size: 0.85rem;
}

fieldset p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

fieldset textarea {
  width: 95% !important;
  max-width: 95% !important;
}

.checkbox label {
  color: #2c3643;
}

input[type='checkbox'] {
  width: 25px;
  height: 20px;
  margin-right: 8px;
  cursor: pointer;
  padding: 0;
  visibility: hidden;
}

input[type='checkbox']:after {
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
  vertical-align: middle;
  content: ' ';
  display: inline-block;
  visibility: visible;
  border: 1px solid #799cb4;
  border-radius: 5px;
  cursor: pointer;
}

input[type='checkbox']:checked:after {
  content: '\2714';
  color: green;
  font-weight: bold;
  border: 0;
}

select[multiple] {
  border: 1px solid #e7eef3;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  width: 100%;
}

select[multiple] option {
  padding: 10px;
  margin: 5px;
  width: 100%;
  margin: 0;
}

select[multiple] option:hover {
  cursor: pointer;
  background-color: #e7eef3;
}

.inline-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 8px;
}

.tabs, .page-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
}

.tabs > .toolbar, .page-tabs > .toolbar {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  border-bottom: 1px solid #e7eef3;
}

.tabs > .toolbar .item, .page-tabs > .toolbar .item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tabs > .toolbar .item i, .page-tabs > .toolbar .item i {
  padding: 5px;
  margin-top: 2px;
  margin-left: 10px;
  border-radius: 30px;
}

.tabs > .toolbar .item i:hover, .page-tabs > .toolbar .item i:hover {
  background-color: #e7eef3;
}

.tabs > .toolbar .item, .page-tabs > .toolbar .item,
.tabs > .toolbar a,
.page-tabs > .toolbar a {
  height: 100%;
  text-align: center;
  font-size: 0.9rem;
  white-space: nowrap;
  margin-right: 5px;
  overflow: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

.tabs > .toolbar .item:hover, .page-tabs > .toolbar .item:hover,
.tabs > .toolbar a:hover,
.page-tabs > .toolbar a:hover {
  border-bottom: 3px solid #799cb4;
}

.tabs > .toolbar .item.active, .page-tabs > .toolbar .item.active,
.tabs > .toolbar a.active,
.page-tabs > .toolbar a.active {
  border-bottom: 3px solid #799cb4;
  font-weight: bold !important;
  color: #53809e;
}

.page-tabs .toolbar {
  border: 0;
  padding-left: 10px;
}

.page-tabs .toolbar .la-times {
  font-size: 1rem;
}

.page-tabs .page-tabs-body {
  padding-top: 10px;
  position: relative;
}

.ui-tabs {
  border: 0 !important;
}

.ui-tabs .ui-tabs-nav {
  background-color: transparent !important;
  border: 0 !important;
  border-radius: 0 !important;
  border-bottom: 2px solid #53809e !important;
}

.ui-tabs .ui-tabs-tab {
  background-color: #e7eef3 !important;
  border: 0px;
  font-size: 0.75rem;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

.ui-tabs .ui-tabs-active {
  font-weight: bold !important;
  background-color: #53809e !important;
  color: white !important;
}

.toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.toolbar .btn-nav {
  background-color: transparent;
  border: 0;
}

.toolbar .btn-nav:hover {
  background-color: #53809e;
}

.box-shadow, .form-control:focus,
.form-control-sm:focus {
  -webkit-box-shadow: 0px 0px 2px #53809e;
          box-shadow: 0px 0px 2px #53809e;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(121, 156, 180, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #799cb4;
}

input::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: silver;
  font-style: italic;
  opacity: 1;
  /* Firefox */
}

input:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: silver;
  font-style: italic;
  opacity: 1;
  /* Firefox */
}

input::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: silver;
  font-style: italic;
  opacity: 1;
  /* Firefox */
}

input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: silver;
  font-style: italic;
  opacity: 1;
  /* Firefox */
}

input:-ms-input-placeholder,
input::-ms-input-placeholder {
  font-style: italic;
}

.form-control,
.form-control-sm,
.setting {
  font-size: 0.8rem !important;
}

.form-control,
.form-control-sm {
  border: 0 !important;
  border-bottom: 1px solid #799cb4 !important;
  border-radius: 0 !important;
  padding: 5px !important;
}

.form-control:hover,
.form-control-sm:hover {
  background-color: #e7eef3;
}

.form-control:focus,
.form-control-sm:focus {
  outline: none !important;
  border-radius: 0 !important;
  border-color: #53809e !important;
}

.required {
  border-left: 3px solid red !important;
}

.dropdown-menu {
  border-radius: 0;
  border: 0;
  border-top: 5px solid #53809e;
  -webkit-box-shadow: 0px 0px 2px #53809e;
          box-shadow: 0px 0px 2px #53809e;
}

.dropdown-item-text {
  color: #53809e;
  font-weight: bold;
  font-size: 0.95rem;
  padding-left: 5px;
}

.dropdown-item {
  font-size: 0.9rem;
}

.dropdown-item .la,
.dropdown-item .las {
  margin-right: 10px;
}

.dropdown-item:hover {
  background-color: #799cb4;
  color: white !important;
  cursor: pointer;
}

.ss-main .ss-single-selected,
.ss-content .ss-search .ss-addable,
.ss-content .ss-search input,
.ss-content,
.ss-main .ss-multi-selected {
  border: 1px solid #e7eef3 !important;
}

.ss-main .ss-single-selected {
  height: 38px !important;
}

.number-control {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.number-control .minus,
.number-control .plus {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  background-color: #799cb4;
}

.number-control .minus {
  border-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.number-control .plus {
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.number-control .value {
  border: 1px solid #799cb4;
  text-align: center;
  width: 100%;
}

.datepicker table {
  font-size: 1rem;
}

.datepicker table tr:hover {
  background: transparent !important;
  color: #2c3643 !important;
}

label {
  color: #929292;
}

p.setting {
  color: #2c3643;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #c9c9c9;
}

label.setting {
  width: 50px;
  text-align: right;
  padding-right: 5px;
  color: #2c3643 !important;
}

input.setting {
  width: 80px !important;
  min-width: 80px !important;
}

[data-title]:hover:after {
  opacity: 1;
  -webkit-transition: all 0.1s ease 0.5s;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}

[data-title]:after {
  content: attr(data-title);
  background-color: #53809e;
  color: white;
  font-size: 150%;
  position: absolute;
  padding: 1px 5px 2px 5px;
  bottom: -1.6em;
  left: 100%;
  white-space: nowrap;
  -webkit-box-shadow: 1px 1px 3px #222222;
          box-shadow: 1px 1px 3px #222222;
  opacity: 0;
  border: 1px solid #111111;
  z-index: 99999;
  visibility: hidden;
}

[data-title] {
  position: relative;
}

@media screen and (max-width: 500px) {
  .popup-card {
    width: 100vw !important;
    max-width: 100vw !important;
    min-width: 100vw !important;
  }
}

.labelled-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}

.labelled-control.top {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.labelled-control.top label, .labelled-control.top .label {
  width: 100%;
}

.labelled-control.bottom {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: column-reverse;
}

.labelled-control.bottom label, .labelled-control.bottom .label {
  width: 100%;
}

.labelled-control.right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.labelled-control.checkbox label, .labelled-control.checkbox .label {
  width: calc(100% - 40px);
  color: silver;
}

.labelled-control.checkbox .control-group {
  max-width: 40px !important;
}

.labelled-control label,
.labelled-control .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: silver;
  font-size: 0.75rem;
  font-weight: bold;
  padding-right: 5px;
  width: 33%;
  height: 100%;
}

.labelled-control label.center,
.labelled-control .label.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.labelled-control label.right,
.labelled-control .label.right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.labelled-control .control-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.labelled-control .control-group .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  border: 0 !important;
  font-size: 1.2rem;
}

.labelled-control .control-group input,
.labelled-control .control-group select,
.labelled-control .control-group .form-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.labelled-control .control-group input[type='checkbox'] {
  width: 48px;
  max-width: 48px;
}

.jsrad-ui-designer {
  background-color: #e4e6e8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  height: 100vh;
}

.jsrad-ui-designer .design-toolbar {
  width: 100%;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.jsrad-ui-designer .design-work-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: auto;
  height: 100vh;
}

.jsrad-ui-designer .design-work-area .design-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  max-height: 48px;
}

.jsrad-ui-designer .design-work-area .workspace {
  padding: 0 !important;
  width: 100vw;
}

.jsrad-ui-designer .design-work-area .workspace .design-mode {
  background-color: white;
}

.jsrad-ui-designer .design-work-area .workspace .app-area {
  margin: auto;
  background: white;
}

.jsrad-ui-designer .design-work-area .workspace .jsrad-form {
  background-size: 10px 10px;
  background-image: radial-gradient(circle, #e4e6e8 1px, rgba(0, 0, 0, 0) 1px);
}

.jsrad-ui-designer .design-work-area .workspace .jsrad-form.run-mode {
  background-size: 0;
  background-image: none;
}

.design-toolbar,
.design-sidebar {
  background-color: #e7eef3;
  border: 0;
}

.design-toolbar {
  width: 100%;
  height: 48px;
  max-height: 48px;
}

.workspace-button {
  font-weight: bold;
  font-size: 1.2rem;
  height: 48px;
  min-height: 48px;
  max-height: 48px;
  width: 48px;
  min-width: 48px;
  max-width: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.workspace-button .la {
  display: inline-block;
  line-height: 48px;
  vertical-align: middle;
  text-align: center;
}

.workspace-button:hover {
  color: white;
  background-color: #53809e;
  cursor: pointer;
}

.dropdown-item {
  padding: 5px;
}

.dropdown-item .la {
  display: inline-block;
  line-height: 48px;
  vertical-align: middle;
  text-align: center;
  padding-right: 10px;
}

/*
http://www.cssarrowplease.com/
*/
.arrow_box {
  position: relative;
  background: #FFFFFF;
  border: 2px solid #4a4a4a;
  border-radius: 5px;
}

.arrow_box:after, .arrow_box:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(213, 212, 209, 0);
  border-right-color: #FFFFFF;
  border-width: 30px;
  margin-top: -30px;
}

.arrow_box:before {
  border-color: rgba(74, 74, 74, 0);
  border-right-color: #4a4a4a;
  border-width: 33px;
  margin-top: -33px;
}

/*
ARROW*/
.shape {
  -webkit-transform: initial;
  transform: initial;
}

.diamond {
  /*
    -ms-transform-origin: center center;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    transform-origin: center center;
    transform-style: preserve-3D;
*/
  -webkit-transform: rotateZ(-45deg) !important;
  transform: rotateZ(-45deg) !important;
  padding: 0;
}

.activity {
  border-radius: 15px;
}

.box {
  border-radius: 0px;
}

.circle {
  border-radius: 50%;
}

.chevron_before {
  position: absolute;
  left: 0;
  top: 0;
  height: 50%;
  width: 100%;
  z-index: 0;
  -webkit-transform: skewX(20deg) !important;
  transform: skewX(20deg) !important;
}

.chevron_after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50%;
  width: 100%;
  z-index: 0;
  -webkit-transform: skewX(-20deg) !important;
  transform: skewX(-20deg) !important;
}

.tank {
  /*position:absolute;
    top: 0;
    height:0;
    display: table-cell;
    vertical-align: middle;
    */
}

.tank .middle {
  /*
    position:absolute;
    z-index: 2;
*/
}

.tank .top {
  /*
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
    position:absolute;
    z-index: 3;
*/
}

.tank .bottom {
  /*
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
    position:absolute;
    z-index: 1;
*/
}

.tank .caption {
  /*
	z-index: 40;
	position:absolute;
*/
  /*
	display: inline-block;
	position: absolute;
	overflow: hidden;
	
	word-wrap: break-word;
	padding: 5px;
	vertical-align: middle;
*/
}

.curve-line {
  border: solid 5px #000;
  border-color: #000 transparent transparent transparent;
  border-radius: 50%/100px 50px 0 0;
}

.form-overview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 9999;
}

.form-overview .form-overview-item {
  width: 170px;
  height: 180px;
  margin: 10px;
  border: 1px solid #799cb4;
  border-radius: 5px;
  overflow: hidden;
  font-size: 1.5rem;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-overview .form-overview-item:hover,
.form-overview .form-overview-item .active {
  cursor: pointer;
  font-weight: bold;
  color: white;
  background-color: #53809e;
  -webkit-box-shadow: 0px 0px 15px #53809e;
          box-shadow: 0px 0px 15px #53809e;
}

.form-overview .form-overview-item img {
  border: 0;
  margin: 10px;
  width: 150px;
  height: 150px;
}

.form-overview .form-overview-item .form-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 5px;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
}

.form-overview .form-overview-item .la {
  padding-right: 10px;
}

.form-overview.toolbox {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
  padding: 0;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-overview.toolbox .actions,
.form-overview.toolbox .form-overview-item {
  height: 28px;
  width: 100%;
  font-size: 0.8rem;
  padding-left: 5px;
  padding-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  margin-bottom: 5px;
  border: 0;
}

.design-toolbox-panel {
  position: absolute;
  top: 0;
  left: calc(100vw - 300px);
  max-height: calc(100vh - 48px);
  overflow: visible;
  width: 300px;
  min-width: 50px;
  color: #53809e;
  background-color: #e4e6e8;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px #53809e;
          box-shadow: 0px 0px 15px #53809e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.design-toolbox-panel .design-toolbox-title {
  font-size: 0.9rem;
  text-align: center;
  font-weight: bold;
  background-color: #53809e;
  color: white;
  margin: 0;
  margin-bottom: 5px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.design-toolbox-panel .design-toolbox-title i:hover {
  display: inline-block;
  cursor: pointer;
  background-color: #799cb4;
  color: white;
}

.design-toolbox-panel .toolbox-body {
  padding: 10px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.design-toolbox-panel .toolbox-body.no-overflow {
  overflow: hidden;
}

.text-formater .row {
  padding-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 5px;
}

.text-formater .title-line {
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  color: #2c3643;
  border-bottom: 1px solid #53809e;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-formater input[type='color'] {
  width: 40px;
  max-height: 18px;
}

.text-formater .btn-group-toggle,
.text-formater .btn-group {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-formater .checkbox,
.text-formater .form-control,
.text-formater input {
  margin: 0 !important;
  font-size: 0.8rem !important;
  padding: 0 !important;
  background-color: #e7eef3 !important;
  border-color: #799cb4 !important;
  border-width: 1px !important;
}

.text-formater button {
  margin: 5px;
  font-size: 0.8rem;
  background-color: #e7eef3;
  border-radius: 5px;
  border: 1px solid #799cb4;
}

.text-formater button:hover {
  cursor: pointer;
  background-color: #53809e;
  color: white;
}

.text-formater button.la {
  height: 28px;
  min-height: 28px;
  max-height: 28px;
  width: 28px;
  min-width: 28px;
  max-width: 28px;
  padding: 0;
}

.text-formater .control-with-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 5px;
}

.text-formater .control-with-label label,
.text-formater .control-with-label .label {
  display: block;
  text-align: right;
  padding-right: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.8rem !important;
  color: #929292;
  font-weight: 500;
  width: 120px !important;
  min-width: 120px !important;
  max-width: 120px !important;
}

.design-toolbox-widgets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.design-toolbox-widgets input,
.design-toolbox-widgets select {
  background: #e4e6e8 !important;
  border-bottom-width: 1px !important;
}

.design-toolbox-widgets .props-edit {
  overflow: auto;
  height: 78vh;
}

.design-toolbox-widgets .toolbox-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.design-toolbox-widgets .widget-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #53809e;
}

.design-toolbox-widgets .widget-container:hover {
  background-color: #53809e;
  color: white !important;
}

.design-toolbox-widgets .widget-category {
  overflow: hidden;
  background: transparent;
  width: 100%;
  font-weight: bold;
  font-size: 0.75rem;
  padding-left: 20px;
  background-color: #e7eef3;
  border-radius: 5px;
  text-transform: uppercase;
}

.design-toolbox-widgets .widget-template {
  overflow: hidden;
  cursor: pointer;
  background: transparent;
  height: 30px;
  width: 100%;
  white-space: normal;
  word-wrap: break-word;
}

.design-toolbox-widgets .widget-template .widget-caption {
  font-size: 0.8rem;
  padding-left: 10px;
  text-transform: uppercase;
  text-align: center;
  height: 25px;
  line-height: 25px;
  white-space: normal;
  word-wrap: break-word;
  vertical-align: bottom;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.design-toolbox-widgets .widget-template .widget-thumbnail {
  overflow: hidden;
  width: 25px;
  height: 25px;
  padding-right: 10px;
  margin-top: auto;
}

.design-toolbox-widgets .widget-template .widget-thumbnail img {
  mix-blend-mode: multiply;
}

.design-toolbox-widgets .widget-template .widget-thumbnail img,
.design-toolbox-widgets .widget-template .widget-thumbnail i {
  width: 25px;
  height: 25px;
  max-width: 25px;
  max-height: 25px;
}

.design-toolbox-widgets .widget-template .widget-thumbnail i {
  font-size: 25px;
}

.active {
  background-color: #53809e !important;
  color: white !important;
}

.popup-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0px 30px #53809e;
          box-shadow: 0px 0px 30px #53809e;
  background-color: white;
  position: absolute;
  border-radius: 5px;
  z-index: inherit;
  top: 0;
  overflow: hidden;
  padding: 10px;
  opacity: 1 !important;
}

.popup-card .header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
  padding: 0;
}

.popup-card .header-row .btn, .popup-card .header-row .btn-rounded {
  margin: 0 !important;
  font-weight: bold;
  height: 30px;
  min-height: 30px;
  max-height: 30px;
}

.popup-card .header-row .btn:hover, .popup-card .header-row .btn-rounded:hover {
  color: white !important;
}

.las .popup-card .header-row .icon {
  margin-top: 0 !important;
  font-size: 1.2rem;
  padding-left: 10px;
}

.las .popup-card .header-row .icon:hover {
  color: white !important;
}

.popup-card .header-row .title {
  width: 100%;
  cursor: move;
  padding: 5px;
  height: 35px;
  min-height: 35px;
  max-height: 35px;
  overflow: hidden;
  font-size: 1.1rem !important;
  font-weight: bold;
  color: silver;
}

.popup-card .header-row .close-btn {
  color: #799cb4;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 5px;
  border-radius: 10px;
}

.popup-card .header-row .close-btn:hover {
  background-color: #e7eef3;
  font-size: 2rem;
  color: #53809e;
}

.popup-card .body-content {
  overflow: auto !important;
}

.ui-overlay {
  background: #53809e !important;
  background: rgba(83, 128, 158, 0.4) !important;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 9999;
}

@media screen and (max-width: 500px) {
  .popup-card {
    width: 100vw !important;
    max-width: 100vw !important;
    min-width: 100vw !important;
  }
}

.confirm-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  width: 400px;
  min-width: 400px;
  max-width: 400px;
  height: 15vh;
  max-height: 20vh;
  min-height: 20vh;
}

.confirm-card .message {
  text-align: center;
}

.confirm-card .button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
  margin-right: 20px;
}

.confirm-card .button-list button {
  margin: 0 !important;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #53809e;
  color: #2c3643;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  width: 120px;
  min-width: 120px;
  max-width: 120px;
}

.confirm-card .button-list button:hover {
  color: white !important;
}

.confirm-card .button-list button.default {
  background-color: #e7eef3;
  color: #2c3643;
}

.confirm-card .button-list button.default:hover {
  background-color: #53809e;
  color: white;
}

.confirm-card .button-list button .la {
  font-size: 1.2rem;
  padding-right: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e7eef3;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:checked + .slider {
  background-color: #50b848;
}

.switch input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #50b848;
          box-shadow: 0 0 1px #50b848;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.switch .slider.round {
  border-radius: 34px;
}

.switch .slider.round:before {
  border-radius: 50%;
}

.slidecontainer {
  width: 100%;
  /* Width of the outside container */
  /* The slider itself */
  /* Mouse-over effects */
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
}

.slidecontainer .slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  /* Full-width */
  height: 25px;
  border-radius: 15px;
  /* Specified height */
  background: #c9c9c9;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s;
  /* 0.2 seconds transition on hover */
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.slidecontainer .slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

.slidecontainer .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  border-radius: 50%;
  /* Slider handle height */
  background: #53809e;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

.slidecontainer .slider::-moz-range-thumb {
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  border-radius: 50%;
  /* Slider handle height */
  background: #53809e;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

.chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: transparent;
  overflow: hidden;
}

.chart .chart-caption {
  height: 40px;
  max-height: 80px;
  width: 100%;
  overflow: hidden;
}

.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comments .author {
  font-size: 0.8em;
}

.comments textarea {
  width: 100%;
  font-size: 0.8em;
  resize: vertical;
}

.comments .comment-list {
  height: 75vh;
  overflow: auto;
  border-top: 1px solid #4D4D4D;
  padding-top: 15px;
}

.comments .comment-line {
  padding-bottom: 10px;
  border-radius: 5px;
  padding: 5px;
}

.comments .comment-line .comment-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comments .comment-line .comment-date {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 0.7em;
  color: #4D4D4D;
  text-align: right;
}

.comments .comment-line .comment-user {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 0.85em;
  font-weight: bold;
  color: #4D4D4D;
}

.comments .comment-line .comment-content {
  padding: 10px;
  font-size: 0.95em;
  border-radius: 5px;
  background-color: #f7f7f7;
}

.comments .comment-line:hover {
  cursor: pointer;
  background-color: #c2c2c2;
}

.br-widget {
  height: 25px;
}

.br-widget a {
  display: block;
  width: 25px;
  height: 16px;
  float: left;
  background-color: #EAEAEA;
  margin: 1px;
}

.br-widget a.br-active,
.br-widget a.br-selected {
  background-color: #59a6d6;
}

.br-widget .br-current-rating {
  line-height: 1.1;
  float: left;
  padding: 0 20px 0 20px;
  color: #646464;
}

.sticky {
  background: #FFFF5E;
  display: inline-block;
  box-shadow: 4px 4px 8px #1c1c1c;
  -webkit-box-shadow: 4px 4px 8px #1c1c1c;
  -moz-box-shadow: 4px 4px 8px #1c1c1c;
  -o-box-shadow: 4px 4px 8px #1c1c1c;
  -webkit-transform: rotate(2deg);
  transform: rotate(2deg);
}

.stickytop {
  text-align: center;
  font-weight: bold;
  font-family: arial;
  width: 50%;
  background-color: rgba(51, 51, 51, 0.85);
  /*#FF5B0D;*/
  padding: 10px 0px 10px 0px;
  position: relative;
  left: 25%;
  top: -10px;
  height: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  /*rotate the tape 12 degrees anti-clockwise*/
  -webkit-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
}

.stickytext {
  overflow: hidden;
  width: 95%;
  height: 75%;
  top: 10px;
  position: absolute;
}

textarea.stickynotes {
  width: 100%;
  height: 100%;
  border: 0px;
  resize: none;
  background: transparent;
  padding: 10px 0px 0px 8px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.jsrad-project-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60vw;
  max-width: 100vw;
  height: 100vh;
  padding: 10px;
}

.jsrad-project-open .prj-btn-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 10px;
}

.jsrad-project-open .prj-btn-bar .btn {
  color: #53809e !important;
  background-color: transparent;
  border: 1px solid #e7eef3;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  word-wrap: break-word;
}

.jsrad-project-open .prj-btn-bar .btn:hover {
  background-color: #53809e;
  color: white !important;
  cursor: pointer;
}

.jsrad-project-open .title {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 10px;
  color: #929292;
  border-top: 1px solid #e7eef3;
  margin-top: 10px;
}

.jsrad-project-open .prj-list {
  margin-top: 10px;
  margin-right: 10px;
  height: 80vh;
  max-height: 80vh;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.jsrad-project-open .prj-list .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 5px;
  border-bottom: 1px solid silver;
  font-size: 0.9rem;
}

.jsrad-project-open .prj-list .list-item:hover {
  border: 1px solid #e7eef3;
  border-radius: 5px;
  cursor: pointer;
  background-color: #e7eef3;
}

.jsrad-project-open .prj-list .list-item span {
  border: 1px solid #799cb4;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.8rem;
  color: #53809e;
  display: block;
}

.jsrad-project-open .prj-list .list-item span:hover {
  font-weight: bold;
  font-style: normal;
  background-color: #53809e;
  color: white;
}

.process-busy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  padding: 10px;
  opacity: 1 !important;
  width: 300px;
  height: 100px;
}

.process-busy .body-content {
  margin: auto;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.process-busy .body-content i {
  font-weight: bold;
  font-size: 2rem;
}

.icon-selector {
  width: 80vw;
  min-width: 300px;
  height: 80vh;
  max-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 5px;
}

.icon-selector ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: 70vh;
  overflow: auto;
  background-color: transparent;
  list-style: none;
}

.icon-selector ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 14px;
}

.icon-selector ul li:hover {
  background-color: #53809e;
  color: white;
}

.activity-confirmation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  padding: 10px;
  opacity: 1 !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 450px;
  height: 250px;
}

.activity-confirmation .body-content {
  width: 100%;
  overflow: auto !important;
  padding: 10px;
}

.activity-confirmation .body-content.center {
  text-align: center;
}

.activity-confirmation .button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 2px solid #c9c9c9;
  padding: 10px;
  width: 100%;
}

.activity-confirmation .button-list.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.activity-confirmation .button-list button {
  min-width: 120px;
}

.activity-confirmation .button-list .ok-button {
  background-color: #799cb4;
  padding: 10px;
  border: 1px solid #53809e;
  border-radius: 5px;
}

.activity-confirmation .button-list .ok-button:hover {
  background-color: #53809e;
  color: white;
  cursor: pointer;
}

.activity-confirmation .button-list .cancel-button {
  background-color: #c9c9c9;
  padding: 10px;
  border: 0;
  border-radius: 5px;
}

.activity-confirmation .button-list .cancel-button:hover {
  background-color: #799cb4;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .activity-confirmation {
    width: 100vw !important;
    max-width: 100vw !important;
    min-width: 100vw !important;
  }
}

.widget {
  outline: 0;
  outline: none;
}

.widget-manager {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0.5;
}

.widget-manager.selected, .widget-manager.hover, .widget-manager:hover, .widget-manager:focus {
  opacity: 0.5;
  border: 3px solid #55C8FF !important;
}

.locked {
  border: 2px solid #FF0000;
}

.required {
  border-left: 2px solid #FF0000 !important;
}

* {
  outline: 0;
  outline: none;
}

*:focus {
  outline: 0;
  outline: none;
}

.process-mode {
  background-color: #c9c9c9 !important;
}

.process-mode::before {
  font-style: italic;
  color: #c9c9c9;
  content: 'PROCESS';
}

.form-title {
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
}

.jsrad-line-connector {
  opacity: 0.4;
  z-index: 10;
  color: red;
  font-weight: bold;
  font-size: 48px;
  width: 40px;
  height: 40px;
}

.jsrad-line-connector.right {
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.jsrad-line-connector.left {
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

.jsrad-line-connector.top {
  position: absolute;
  top: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

.jsrad-line-connector.bottom {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.jsrad-line-connector:hover {
  opacity: 1;
}

/*
GRIP FOR RESIZING CONTROLS
*/
.nwgrip,
.negrip,
.swgrip,
.segrip,
.ngrip,
.egrip,
.sgrip,
.wgrip {
  width: 15px;
  height: 15px;
  border-color: #53809e;
  border-style: solid;
  opacity: 0.7;
  border-radius: 5px;
}

.nwgrip {
  left: -5px;
  top: -5px;
}

.negrip {
  top: -5px;
  right: -5px;
}

.swgrip {
  bottom: -5px;
  left: -5px;
}

.segrip {
  bottom: -5px;
  right: -5px;
}

.ngrip {
  top: -5px;
  left: 45%;
}

.sgrip {
  bottom: -5px;
  left: 45%;
}

.wgrip {
  left: -5px;
  top: 45%;
}

.egrip {
  right: -5px;
  top: 45%;
}

/*GUIDES WHEN MOVING WIDGETS*/
.objectx {
  display: none;
  width: 0px;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 10px;
  border-left: 1px solid yellow;
}

.objecty {
  display: none;
  width: 100%;
  height: 0px;
  position: absolute;
  top: 10px;
  left: 0px;
  border-bottom: 1px solid yellow;
}

.ui-shadow {
  box-shadow: 5px 5px 5px #1A1A1A;
  -webkit-box-shadow: 5px 5px 5px #1A1A1A;
  -moz-box-shadow: 5px 5px 5px #1A1A1A;
  -o-box-shadow: 5px 5px 5px #1A1A1A;
}

.ui-top-shadow {
  box-shadow: 0 -5px 5px -5px #1A1A1A;
  -webkit-box-shadow: 0 -5px 5px -5px #1A1A1A;
  -moz-box-shadow: 0 -5px 5px -5px #1A1A1A;
  -o-box-shadow: 0 -5px 5px -5px #1A1A1A;
}

.ui-glow {
  box-shadow: 0 0 10px #1A1A1A;
  -webkit-box-shadow: 0 0 10px #1A1A1A;
  -moz-box-shadow: 0 0 10px #1A1A1A;
  -o-box-shadow: 0 0 10px #1A1A1A;
}

.text-outline {
  border: 2px solid #008000;
}

.notify {
  width: 350px;
  position: fixed;
  top: 40px;
  right: 10px;
  z-index: 99999;
  padding: 10px;
  margin-bottom: 15px;
  background: #FFFFFF;
  color: #4D4D4D;
}

.notify .content {
  padding: 10px;
}

.notify .side-bar {
  width: 10px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.table {
  border-color: #7F7F7F;
}

.table th {
  background-color: #BFBFBF;
  color: #4D4D4D;
}

.table td {
  word-wrap: break-word;
}

.table .row-active {
  background-color: #E5E5E5;
  color: #4D4D4D;
}

/* COMMENT BOX */
/* .comment-box {
} */
.comment-title {
  background-color: #fdfdfd;
  padding: 10px;
}

.comment-title label {
  color: #444;
  margin: 0;
  display: inline-block;
}

.action-box .form-group {
  display: inline-block;
  width: 100%;
}

.comment-list li > div {
  display: table-cell;
}

.comment-image {
  width: 50px;
  padding-right: 15px;
}

.comment-image img {
  width: 50px;
}

.commment-text {
  width: 100%;
}

.comment-text p {
  display: block;
  width: 100%;
  margin: 5;
}

.sub-text {
  color: #aaa;
  font-family: verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
}

.action-box {
  border-top: 1px dotted #bbb;
  height: 50px;
  padding-top: 5px;
  overflow: auto;
}

/*
 * MOBILE NAV-BAR
*/
.nav-link {
  color: #CECECE;
}

.popup-menu {
  background: transparent;
  border: 0;
  opacity: 2 !important;
}

.popup-menu div {
  vertical-align: middle;
  background-color: #FFFFFF;
  width: 40px;
  height: 40px;
  padding: 10px 0 0 10px;
  margin: 10px;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 8px #888888;
          box-shadow: 5px 5px 8px #888888;
}

.popup-ruler {
  width: 30px;
}

.popup-no-margin {
  padding: 0;
  margin: 0;
}
