@import 'colors';

.jsrad-project-open {
    display: flex;
    flex-direction: column;
    width: 60vw;
    max-width: 100vw;
    height: 100vh;
    padding: 10px;

    .prj-btn-bar {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-right: 10px;

        .btn {
            color: $color-primary !important;
            background-color: transparent;
            border: 1px solid $color-border;
            border-radius: 5px;
            padding: 10px;
            // margin: 5px;
            width: 200px;
            word-wrap: break-word;

            &:hover {
                background-color: $color-primary;
                color: $inverse-text-color !important;
                cursor: pointer;
            }
        }
    }

    .title {
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 1.1rem;
        padding: 10px;
        color: $label-color;
        border-top: 1px solid $color-border;
        margin-top: 10px
    }

    .prj-list {

        margin-top: 10px;
        margin-right: 10px;
        height: 80vh;
        max-height: 80vh;
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .list-item {
            display: flex;
            justify-content: space-between;
            align-items: baseline;

            padding: 5px;
            border-radius: 5px;
            border: 1px solid $color-secondary;
            &:hover {
                cursor: pointer;
                background-color: $color-border;
                font-weight: bold;
            }
            
            span{
                border: 1px solid $color-secondary;
                padding: 5px;
                border-radius: 5px;
                font-size: 0.8rem;
                color: $color-primary;
                display: block;
                &:hover{
                    font-weight: bold;
                    font-style: normal;
                    background-color: $color-primary;
                    color: $inverse-text-color;
                }
            }
        }
    }
}