.design-toolbox-panel {
	position: absolute;
	top: 0;
	left: calc(100vw - 300px);
	max-height: calc(100vh - 48px);
	overflow: visible;
	width: 300px;
	min-width: 50px;
	color: $color-primary;
	background-color: $side-panel-color;

	border-radius: 5px;
	box-shadow: 0px 0px 15px $color-primary;
	display: flex;
	flex-direction: column;

	.design-toolbox-title {
		font-size: 0.9rem;
		text-align: center;
		font-weight: bold;
		background-color: $color-primary;
		color: $inverse-text-color;
		margin: 0;
		margin-bottom: 5px;
		padding: 10px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		i {
			&:hover {
				display: inline-block;

				cursor: pointer;
				background-color: $color-secondary;
				color: $inverse-text-color;
			}
		}
	}

	.toolbox-body {
		padding: 10px;
		width: 100%;
		overflow-x: hidden;
		overflow-y: auto;

		&.no-overflow {
			overflow: hidden;
		}
	}
}

// .popup-toolbox-panel {
// 	display: flex;
// 	flex-direction: column;
// 	gap: 10px;
// 	overflow: auto;
// 	min-width: 300px;
// 	max-width: 300px;
// 	color: $color-primary;
// 	background-color: $side-panel-color;

// 	border-radius: 5px;
// 	box-shadow: 0px 0px 15px $color-primary;

// 	width: 350px;
// 	max-width: 350px;
// 	min-width: 350px;

// 			height: 80vh;
// 			min-height: 80vh;
// 			max-height: 80vh;
// 	.title-line {
// 		font-size: 1em;
// 	}

// 	.checkbox,
// 	input {
// 		font-size: 0.85em;
// 	}
// }

// .popup-toolbox-panel,
.text-formater {
	// display: flex;
	// flex-direction: column;
	// flex-wrap: wrap;
	// gap: 5px;



	.row {
		padding-left: 5px;
		display: flex;
		flex-direction: row;
		justify-content: start;
		gap: 5px;
	}

	.title-line {
		width: 100%;
		font-size: 12px;
		font-weight: bold;
		color: $base-text-color;
		border-bottom: 1px solid $color-primary;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	input[type='color'] {
		width: 40px;
		max-height: 18px;
	}

	.btn-group-toggle,
	.btn-group {
		width: auto;
		// margin: 0;
		display: flex;
	}

	.checkbox,
	.form-control,
	input {
		margin: 0 !important;
		font-size: 0.8rem !important;
		padding: 5px !important;
		background-color: $color-border !important;
		border-color: $color-secondary !important;
		border-width: 1px !important;
	}

	button {
		margin: 5px;
		padding: 5px;
		font-size: 0.8rem;

		background-color: $color-border;
		border-radius: 5px;
		border: 1px solid $color-secondary;

		&:hover {
			cursor: pointer;
			background-color: $color-primary;
			color: $inverse-text-color;
		}

		&.la {
			height: 28px;
			min-height: 28px;
			max-height: 28px;

			width: 28px;
			min-width: 28px;
			max-width: 28px;

			padding: 3px;
		}
	}

	.control-with-label {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: start;
		margin: 5px;

		label,
		.label {
			display: block;
			text-align: right;
			padding-right: 10px;
			font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
			font-size: 0.8rem !important;
			color: $label-color;
			font-weight: 500;
			width: 120px !important;
			min-width: 120px !important;
			max-width: 120px !important;
		}
	}
}


.design-toolbox-widgets {
	display: flex;
	flex-direction: column;
	gap: 10px;

	input,
	select {
		background: $side-panel-color !important;
		border-bottom-width: 1px !important;
	}

	.props-edit {
		overflow: auto;
		height: 78vh;
	}

	.toolbox-area {
		display: flex;
		flex-direction: column;
		margin: 0;
		padding: 0;
		gap: 5px;
		flex-wrap: wrap;
	}

	.widget-container {
		display: flex;
		// border: 1px solid $color-border;

		flex-direction: row;
		color: $color-primary;

		&:hover {
			background-color: $color-primary;
			color: $inverse-text-color !important;
		}
	}

	.widget-category {
		overflow: hidden;
		background: transparent;
		width: 100%;
		font-weight: bold;
		font-size: 0.75rem;
		padding-left: 20px;
		background-color: $color-border;
		border-radius: 5px;
		text-transform: uppercase;
	}

	.widget-template {
		overflow: hidden;
		cursor: pointer;
		background: transparent;
		height: 30px;
		width: 100%;
		// width: 60px;

		white-space: normal;
		word-wrap: break-word;
		// border-radius: 5px;

		.widget-caption {
			font-size: 0.7rem;
			padding-left: 10px;
			text-transform: uppercase;
			text-align: center;
			height: 25px;
			line-height: 25px;
			white-space: normal;
			word-wrap: break-word;
			vertical-align: bottom;
			justify-content: center;
		}

		.widget-thumbnail {
			overflow: hidden;
			width: 25px;
			height: 25px;
			padding-right: 10px;
			margin-top: auto;

			img {
				mix-blend-mode: multiply;
			}

			img,
			i {
				width: 25px;
				height: 25px;
				max-width: 25px;
				max-height: 25px;
			}

			i {
				font-size: 25px;
			}
		}
	}


}

.active {
	background-color: $color-primary !important;
	color: $inverse-text-color !important;
}