@import 'colors';
@import 'page_loader';
@import 'controls';
@import 'labelled_control';
@import 'table';
@import 'workspace';
@import 'annotations';
@import 'form_overview';
@import 'toolbox';
@import 'popup_card';
@import 'confirm_card';
@import 'button_switch';
@import 'slider';
@import 'chart';
@import 'comments';
@import 'rating';
@import 'sticky_note';
@import 'open_project_dialog';
@import 'process_busy';
@import 'icon_selectorscss';
@import 'activity_confirmation';
@import 'widget';
@import 'toaster';
@import 'report';

* {
	outline: 0;
	outline: none;
}

*:focus {
	outline: 0;
	outline: none;
}

.process-atrr-map {
	display: grid;
	grid-template-columns: 1fr 1fr 30%;
	gap: 10px;

	.header {
		font-weight: bold;
		border-bottom: 1px solid $color-primary;
		text-align: center;
	}

	.first-col {
		text-align: center;
		font-weight: bold;
	}
}

.process-field-selector {
	display: flex;
	flex-direction: column;
	gap: 10px;

	.item {}
}

.process-mode {
	// background-color: $inverse-text-color;
	background-color: $border-color !important;
	// background-size: 10px 10px;
	// border: 3px solid #A52A2A;

	&::before {
		font-style: italic;
		color: $border-color;
		content: 'PROCESS';
	}
}

.data-form{
	display: flex;
	flex-direction: column;
	gap: 5px;

	width: 400px;

	max-height: 80vh;

	.button-list{
		display: flex;
		flex-direction: row;
		width: 400px !important;
		background-color: #008000;
		// justify-content: space-between;
		// margin-top: 15px;
		gap: 10px;
		
		button{
			padding: 5px !important;
			border: 0;
			margin: 0;
			min-width: 80px;
			margin: 0;
			margin-right: 10px !important;
		}
	}
}

.form-title {
	font-size: 0.8em;
	font-weight: bold;
	text-align: center;
}

.jsrad-line-connector {
	opacity: 0.4;
	z-index: 10;
	color: red;
	font-weight: bold;
	font-size: 48px;
	width: 40px;
	height: 40px;
}

.jsrad-line-connector.right {
	position: absolute;
	top: 50%;
	left: 100%;
	transform: translate(0%, -50%);
}

.jsrad-line-connector.left {
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translate(-100%, -50%);
}

.jsrad-line-connector.top {
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translate(-50%, -100%);
}

.jsrad-line-connector.bottom {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, 0%);
}


.jsrad-line-connector:hover {
	opacity: 1;
}


/*
GRIP FOR RESIZING CONTROLS
*/

.nwgrip,
.negrip,
.swgrip,
.segrip,
.ngrip,
.egrip,
.sgrip,
.wgrip {
	width: 15px;
	height: 15px;
	border-color: $color-primary;
	border-style: solid;
	opacity: 0.7;
	border-radius: 5px;
}

.nwgrip {
	left: -5px;
	top: -5px;
}

.negrip {
	top: -5px;
	right: -5px;
}

.swgrip {
	bottom: -5px;
	left: -5px;
}

.segrip {
	bottom: -5px;
	right: -5px;
}

.ngrip {
	top: -5px;
	left: 45%;
}

.sgrip {
	bottom: -5px;
	left: 45%;
}

.wgrip {
	left: -5px;
	top: 45%;
}

.egrip {
	right: -5px;
	top: 45%;
}


/*GUIDES WHEN MOVING WIDGETS*/
.objectx {
	display: none;
	width: 0px;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 10px;
	border-left: 1px solid yellow;
}

.objecty {
	display: none;
	width: 100%;
	height: 0px;
	position: absolute;
	top: 10px;
	left: 0px;
	border-bottom: 1px solid yellow;
}

.ui-shadow {
	box-shadow: 5px 5px 5px #1A1A1A;
	-webkit-box-shadow: 5px 5px 5px #1A1A1A;
	-moz-box-shadow: 5px 5px 5px #1A1A1A;
	-o-box-shadow: 5px 5px 5px #1A1A1A;

}

.ui-top-shadow {
	box-shadow: 0 -5px 5px -5px #1A1A1A;
	-webkit-box-shadow: 0 -5px 5px -5px #1A1A1A;
	-moz-box-shadow: 0 -5px 5px -5px #1A1A1A;
	-o-box-shadow: 0 -5px 5px -5px #1A1A1A;
}

.ui-glow {
	box-shadow: 0 0 10px #1A1A1A;
	-webkit-box-shadow: 0 0 10px #1A1A1A;
	-moz-box-shadow: 0 0 10px #1A1A1A;
	-o-box-shadow: 0 0 10px #1A1A1A;

}

.text-outline {
	border: 2px solid #008000;
}



/* COMMENT BOX */

/* .comment-box {
} */
.comment-title {
	background-color: #fdfdfd;
	padding: 10px;
}

.comment-title label {
	color: #444;
	margin: 0;
	display: inline-block;
}

.action-box .form-group {
	display: inline-block;
	width: 100%;
}

.comment-list li>div {
	display: table-cell;
}

.comment-image {
	width: 50px;
	padding-right: 15px;
}

.comment-image img {
	width: 50px;
}

.commment-text {

	width: 100%;
}

.comment-text p {
	display: block;
	width: 100%;
	margin: 5;
}

.sub-text {
	color: #aaa;
	font-family: verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.action-box {
	border-top: 1px dotted #bbb;
	height: 50px;
	padding-top: 5px;
	overflow: auto;
}

/*
 * MOBILE NAV-BAR
*/

.nav-link {
	color: #CECECE;
}

.popup-menu {
	background: transparent;
	border: 0;
	opacity: 2 !important;
}

.popup-menu div {

	vertical-align: middle;
	background-color: #FFFFFF;
	width: 40px;
	height: 40px;
	padding: 10px 0 0 10px;
	margin: 10px;
	border-radius: 50%;
	box-shadow: 5px 5px 8px #888888;
}


.popup-ruler {
	width: 30px;
}

.popup-no-margin {
	padding: 0;
	margin: 0;
}